*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    height: 100;
    width: 500;
    text-align: center;
    color: black;
    font-size: 40px;
    /* background-color: red; */
    margin: 100px;
    
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box{
    height: 140px;
    width: 140px;
    background-color: blue;

    border: 5px black;
}
#red{
    background-color: red;

}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
.box:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}
h3{

    margin-top: 30px;
    text-align: center;
    font-size: 20px;

}